h1 { 
    color: #d54d7b; 
    font-family: "Great Vibes", cursive; 
    font-size: 165px; 
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 141px; 
    text-align: center; 
}
h6{
    font-family: 'Pangolin', cursive;
    font-size: 45px; 
    line-height: 50px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 207px; 
    text-align: center; 
}
.subtitle-text {
    
}