textarea {
    background-color: #ffdaec;
    border-color: #ff198c;
    border-width: 3px;
    font-family: 'Courier New', Courier, monospace;
}
p {
    justify-content: left;
}
.page-info{
    height: 104px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.result-portal {
    display: flex;
    margin-left: 100px;
    margin-top: 65px;
    /* justify-content: space-between; */
    
}
.summarize-div {
    display: flex;
    flex-direction: column;

}
.textarea-title {
    text-align: left;
    margin-bottom: 3px;  
}
.text-title {
    font-size: xx-large;
    font-weight: 400;
    color:  #ff198c;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.category-title{
    font-size: 35px;  
}
.category-result {
    width: 500px;
    height:auto;
    margin-top: 150px;
}
.category-area {
    margin-top: 10p;
    display:flex;
    align-content: center;
    text-align: center;
}
.category {
    font-weight: 500;
    font-size: 37px;
    padding-left: 5px;
    color: #ff198c;
}
.textarea-box {
 
}
.button-div {
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.button-left {
    flex-direction: row-reverse;
}
.button-right {
    width: 300px;
    
}
.button-save {
    transition-duration: 0.4s;
    background-color: white;
    color: #ff198c;
    border: 2px solid #ff198c; 
    padding: 15px 32px;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    
    margin-top: 10px;
  }

.button-save:hover {
    background-color: #ff198c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 710;
    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(240,248,255 ,1 ), 0 11px 35px 0 rgba(240,248,255 ,1 );
  }
.button-text {
    font-size: larger;
    padding-left: 10px;
    padding-right: 10px;
}
.spider-graph {
    padding-left: 100px;
    padding-bottom: 15px;
    
}

.captions {
    fill: #FF198C;

}
.shape{
    fill-opacity: .3;
}

.shape:hover {
    fill-opacity: .65;
    z-index: 100;
}
.scale {
    fill: #FFDAEC; 
    stroke: #999; 
    stroke-width: .2;
}
.axis {
    stroke: #555; 
    stroke-width: .2;
}